<!--Modèle de page venant de Bootstrap-->
<!--La page header.html sera appelée par les autres pages-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TCPP</title>
</head>
<body>
<!--fragment qui sera affiché dans les autres pages-->
<nav>
    <ul>
        <li><a href="membres.php">Membres</a></li>
        <li><a href="entraineurs.php">Entraîneurs</a></li>
        <li><a href="competitions.php">Compétitions</a></li>
        <li><a href="adhesions.php">Adhésions</a></li>
        <li><a href="transactions.php">Transactions</a></li>
    </ul>
</nav>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
</body>
</html>